body{
  margin:0 20% 20% 0;
  padding:0 0 0 0;
}

a{
  text-decoration: none;
}

p{
    text-align: justify;
    text-align-last: center;
    font-family:Helvetica;

}

h1{
  color:white;
  text-align:center;
  font-family:Comic Sans MS;
  padding:0px;
}

#MainText{
  width:750px;
  height:220px;
  background-color:black;
  position:absolute;
  content-align:center;
  margin:0 20% 0 20%;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  z-index:0;
  box-shadow:5px 5px 5px gray;
}

img{
  margin:0 20% 0 20%;
  z-index:1;
  position:absolute;
  width:750px;
  height:400px;
  top:200px;
}

#par1{
  color:white;
  text-align:justify;
  text-align-last:center;
  padding:5px;
}

#oneOp{
	color:white;
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
	font-size:25px;
}

#twoOp{
	color:white;
	text-align:center;
	vertical-align:middle;
	padding-top:10px;
	font-size:25px;
}

#Option1{
   width:370px;
   height:95px;
   background-color:black;
   position:absolute;
   margin:0 20% 0 20%;
   top:600px;
   box-shadow:5px 5px 5px gray;
}

#Option2{
   width:370px;
   height:95px;
   background-color:black;
   position:absolute;
   margin:0 20% 0 20%;
   top:600px;
   left:390px;
   box-shadow:5px 5px 5px gray;
}

div{
  font-size: 15px;
}

footer{
  height:65px;
  width:760px;
  background-color:black;
  position:absolute;
  bottom:0px;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  margin:0 20% 0 20%;
  top:730px;
  box-shadow:5px 0px 5px gray;
}

#copyrights{
	color:white;
	padding-top:15px;
}
